<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('homePartials/head') %>
</head>

<body class="font-[Inter]  min-h-dvh bg-left bg-no-repeat bg-cover text-white flex justify-center items-center"
    style="background-image: url('/home/rainny.jpg');">
    <%- include('homePartials/weather') %>
    <%- include('homePartials/place') %>

   </body>

<script src="/home/script.js"></script>
</html>
