<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherX</title>
</head>
<body>
    <input id="in1">
    <button id="b1" onclick="we()">Find weather</button>
    <p></p>
    <script src="/home/script.js"></script>
</body>

</html>