<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Home</title>
</head>

<body class="font-[Inter] bg-[#4d9ae6] bg-left bg-no-repeat bg-cover p-6 text-white">
    
    <%- include('homePartials/weather') %>
   </body>

<script src="/home/script.js"></script>
</html>
