<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('homePartials/head') %>
</head>

<body class="font-[Inter]  min-h-dvh bg-left bg-no-repeat bg-cover p-6 text-white flex justify-center items-center"
    style="background-image: url('/home/bg/day.jpg');">
    <%- include('homePartials/weather') %>
   </body>

<script src="/home/script.js"></script>
</html>
