<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('loginPartials/head') %>

</head>
<body class="font-[Inter] relative min-h-dvh flex items-end justify-center bg-cover bg-center" style="background-image: url('/bg9.jpg');">

    <div class="absolute inset-0 bg-black bg-opacity-20"></div>
    
    <div class="relative w-full text-center rounded-t-3xl shadow-xl">
        
        <div>
            <div class="w-full -mb-1">
                <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 230" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                            <stop stop-color="rgba(255, 255, 255, 1)" offset="0%"></stop>
                            <stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,0L120,26.8C240,54,480,107,720,107.3C960,107,1200,54,1440,38.3C1680,23,1920,46,2160,49.8C2400,54,2640,38,2880,46C3120,54,3360,84,3600,107.3C3840,130,4080,146,4320,134.2C4560,123,4800,84,5040,69C5280,54,5520,61,5760,76.7C6000,92,6240,115,6480,111.2C6720,107,6960,77,7200,61.3C7440,46,7680,46,7920,38.3C8160,31,8400,15,8640,38.3C8880,61,9120,123,9360,149.5C9600,176,9840,169,10080,153.3C10320,138,10560,115,10800,88.2C11040,61,11280,31,11520,23C11760,15,12000,31,12240,42.2C12480,54,12720,61,12960,61.3C13200,61,13440,54,13680,65.2C13920,77,14160,107,14400,107.3C14640,107,14880,77,15120,76.7C15360,77,15600,107,15840,126.5C16080,146,16320,153,16560,164.8C16800,176,17040,192,17160,199.3L17280,207L17280,230L0,230Z"></path>
                </svg>
            </div>
            <div class="px-6 pb-10 bg-white">
                
                <h2 class="text-xl font-semibold text-start tracking-wide text-gray-800 mb-4">Get started with</h2>
                
                <a href="/user/auth/google" class="w-full py-3.5 flex items-center justify-center text-gray-700 text-[16px] font-bold border border-gray-300 rounded-lg shadow-sm hover:bg-gray-100">
                    <img src="/google.svg" class="w-6 h-6 mr-2"> Continue with Google
                </a>
            </div>
        </div>
    </div>
</body>
</html>
