<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>WeatherX</title>
</head>
<body class="font-[Inter] bg-left bg-cover text-white min-h-dvh"
    style="background-image: url('/home/bg/day.webp');">
    
    <div class="flex-col bg-[#4d99e7] min-h-dvh flex items-center justify-center transaction duration-1000 ease-out"
        id="splash-screen">
        <img src="/logo_white.webp" alt="logo" class="w-52">
    </div>    
    
    <%- include('searchPartials/place') %>

    <script src="/search/script.js"></script>
   </body>
</html>