<div id="backDiv" class="flex items-start justify-between">
<button class="w-10 h-10 flex items-center justify-center bg-gray-100/30 rounded-full shadow-lg animate-pulse">
    <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
</button>
</div>


<div class="w-full mt-14">
    <!-- error Message -->
    <div class="bg-red-100 border mb-4 border-red-400 text-red-700 px-4 py-3 rounded hidden" id="err">
        <strong class="font-bold">Error in fetching weather!</strong>
        <span class="block sm:inline"></span>
      </div>

      <!-- Time Div -->
    <div id="dateTimeDiv">
        <div class="text-center mb-10 animate-pulse">
            <div class="h-12 w-32 bg-gray-100/30 mx-auto rounded"></div>
            <div class="h-5 w-48 bg-gray-100/30 mx-auto rounded mt-2"></div>
        </div>
    </div>

    <!-- Weather Forecast -->
    <div id="forcast"
        class="bg-gray-600 bg-opacity-5  rounded-2xl flex justify-between items-center p-4 border border-white/10 shadow-lg">
        <div class="text-center animate-pulse">
            <p class="text-sm bg-gray-100/30 rounded w-12 h-4 mx-auto"></p>
            <div class="w-11 h-11 bg-gray-100/30 rounded-full mt-2 mx-auto"></div>
            <p class="text-sm mt-2 bg-gray-100/30 rounded w-16 h-4 mx-auto"></p>
            <p class="text-xs bg-gray-100/30 rounded w-12 h-3 mx-auto mt-1"></p>
        </div>
        <div class="text-center animate-pulse">
            <p class="text-sm bg-gray-100/30 rounded w-12 h-4 mx-auto"></p>
            <div class="w-11 h-11 bg-gray-100/30 rounded-full mt-2 mx-auto"></div>
            <p class="text-sm mt-2 bg-gray-100/30 rounded w-16 h-4 mx-auto"></p>
            <p class="text-xs bg-gray-100/30 rounded w-12 h-3 mx-auto mt-1"></p>
        </div>
        <div class="text-center animate-pulse">
            <p class="text-sm bg-gray-100/30 rounded w-12 h-4 mx-auto"></p>
            <div class="w-11 h-11 bg-gray-100/30 rounded-full mt-2 mx-auto"></div>
            <p class="text-sm mt-2 bg-gray-100/30 rounded w-16 h-4 mx-auto"></p>
            <p class="text-xs bg-gray-100/30 rounded w-12 h-3 mx-auto mt-1"></p>
        </div>
        <div class="text-center animate-pulse">
            <p class="text-sm bg-gray-100/30 rounded w-12 h-4 mx-auto"></p>
            <div class="w-11 h-11 bg-gray-100/30 rounded-full mt-2 mx-auto"></div>
            <p class="text-sm mt-2 bg-gray-100/30 rounded w-16 h-4 mx-auto"></p>
            <p class="text-xs bg-gray-100/30 rounded w-12 h-3 mx-auto mt-1"></p>
        </div>

    </div>

    <!-- Current Weather -->
    <div id="weather-card" class="bg-gray-600 bg-opacity-5  rounded-2xl p-6 mt-4 border border-white/10 shadow-lg">
        <!-- Weather Skeleton Loader -->
        <div class="flex items-center justify-between animate-pulse">
            <div class="h-6 w-36 bg-gray-100/30 rounded"></div>
            <div class="h-5 w-5 bg-gray-100/30 rounded-full"></div>
        </div>
        <div class="flex justify-between items-center mt-9 mb-6 animate-pulse">
            <div class="space-y-3">
                <div class="h-12 w-32 bg-gray-100/30 rounded"></div>
                <div class="h-4 w-20 bg-gray-100/30 rounded"></div>
                <div class="h-3 w-28 bg-gray-100/30 rounded"></div>
                <div class="h-3 w-24 bg-gray-100/30 rounded"></div>
            </div>
            <div class="h-28 w-28 bg-gray-100/30 rounded-full"></div>
        </div>
    </div>
    <!-- Day Forecast -->
    <div id="Day_forcast"
        class="bg-gray-600 text-white bg-opacity-5 rounded-2xl p-4 mt-4 mb-8 border border-white/10 shadow-lg">
        <div class="flex justify-between items-center p-2 animate-pulse">
            <div class="w-10 h-6 bg-gray-100/30 rounded"></div>
        
            <div class="flex items-center">
                <div class="w-10 h-10 bg-gray-100/30 rounded-full"></div>
                <div class="ml-2 w-16 h-5 bg-gray-100/30 rounded"></div>
            </div>
        
            <div class="flex flex-col items-end">
                <div class="w-16 h-6 bg-gray-100/30 rounded"></div>
                <div class="w-12 h-4 bg-gray-100/30 rounded mt-1"></div>
            </div>
        </div>
        <div class="flex justify-between items-center p-2 animate-pulse">
            <div class="w-10 h-6 bg-gray-100/30 rounded"></div>
        
            <div class="flex items-center">
                <div class="w-10 h-10 bg-gray-100/30 rounded-full"></div>
                <div class="ml-2 w-16 h-5 bg-gray-100/30 rounded"></div>
            </div>
        
            <div class="flex flex-col items-end">
                <div class="w-16 h-6 bg-gray-100/30 rounded"></div>
                <div class="w-12 h-4 bg-gray-100/30 rounded mt-1"></div>
            </div>
        </div>
    </div>
</div>